---
title: KYC Verification
sidebar_label: KYC Verification
---

## INTRODUCTION

In this section, we will show the steps to access the KYC (Know Your Customer) from your cloud management portal.

### KYC Overview

  Know Your Customer (KYC) is a regulatory process used by businesses to verify the identity of their customers. It involves collecting and authenticating customer information, such as personal details and identification documents, to ensure compliance with anti-money laundering (AML) and counter-terrorist financing (CTF) regulations. KYC helps establish the identity of individuals or entities, mitigating the risks of fraud and illicit activities. This due diligence process is essential for financial institutions, online platforms, and businesses to build trust, enhance security, and adhere to legal requirements. It typically includes verifying identities through official documents, such as passports or driver's licenses, and periodically updating customer information to maintain accuracy and compliance.

#### STEPS TO ACCESS & UPLOAD KYC DOCUMENTS FROM YOUR CLOUD PORTAL

- Login into your cloud management portal.

- Click on the company menu, under My organization select Profile.
<img src="/img/KYC-Verification/KYC-User-01.jpg" width="80%" />

- Then click on KYC verification link.
<img src="/img/KYC-Verification/KYC-User-02.jpg" width="80%" />

- The initial KYC screen will be similar as shown below.
<img src="/img/KYC-Verification/KYC-User-03.jpg" width="80%" />

- User need to upload their document(s) based on the cloud provider requirement. In the below screen, user need to upload at least 1 of their document from the each category. 
<img src="/img/KYC-Verification/KYC-User-04.jpg" width="80%" />

- Once you upload all the required documents, then click on the submit button.
<img src="/img/KYC-Verification/KYC-User-05.jpg" width="80%" />

- Additionally, under admin comments, you might receive remarks from your cloud provider regarding document status.
<img src="/img/KYC-Verification/KYC-User-06.jpg" width="80%" />

- Also, if you have any issues completing the KYC procedure, you can submit a ticket (or) immediately send an email to the admin support staff.
<img src="/img/KYC-Verification/KYC-User-07.jpg" width="80%" />

- Once you click on the submit button, you will receive an popup state that you document has been submitted successfully.
<img src="/img/KYC-Verification/KYC-User-08.jpg" width="80%" />

- Once you've uploaded your document, the document status will be in **Pending** state.
<img src="/img/KYC-Verification/KYC-User-09.jpg" width="80%" />

- Also, you will also received an email once the document has been submitted from the user portal.
<img src="/img/KYC-Verification/KYC-User-10.jpg" width="80%" />

- Once, your document has been approved, you will status will be changed to completed in the user portal.
<img src="/img/KYC-Verification/KYC-User-11.jpg" width="80%" />
